@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html {
  min-height: 77%;
  background-image: url(/stadssiluett.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position:bottom center;
  background-color: #F1F2F1;
}

body {
  margin: 0;
  padding: 0;
}
