@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


html {
    min-height: 77%;
    background-image: url(/stadssiluett.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin:0;
    padding:0;
}

body {
    margin:0;
    padding:0;
}
.RouterL{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}







